  	body {
background-image: url('https://media.giphy.com/media/xT4ApcUu88wApN5kwE/source.gif');
background-repeat: no-repeat;
background-attachment: fixed;
  background-position: center;
  
background-size: cover;
}

    	table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	float: right;
	top: 0;
	width: 100%;
  }
  
  .navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .navbar a:hover {
	background: #ddd;
	color: black;
  }



















th, td {
  padding: 0px;
  text-align: center;
}
.imgq {
  width: 100%;
  height: auto;
}
.imgq:hover{
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.hv:hover {
  background-color: #1A1917;
  text-align: left;
}

h1{
	font-size:10vw;
	font-family:"Garamond";
}
.Tble {
	opacity: 0.75;
	position: fixed;
top: 0;
  right: 0;
  width: 20%;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.slogan{
	font-size: 2.5vw;
	
font-family:"roman numeral";
}
.words{
	font-size: 275%;
	font-style: italic;
	font-family: "Garamond";
	position: relative; left: 80px;
}
.l
{
font-size: 120%;
text-align: center;
}
.brq{
	width: 75%;
  height: auto;
 display: block;
  margin-left: auto;
  margin-right: auto;
}
.imagec{
	position: relative;
	text-align: center;
	color: white;
}
.imgeccentertxt{
	font-size:450%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.logos{

	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 55%;
	height: auto;

}
.imges{
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.ls
{
font-size: 2.5vw;
text-align: center;
}
.menu{
	width: 35px;
	height: 5px;
	background-color: #dd0cf0;
	margin: 6px 0;
}
